body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    background-color: #212335!important;
}

.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #212335;
}

/* ============= Animation background ========= */
/*https://www.sliderrevolution.com/resources/css-animated-background/*/
.background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.cube {
    position: absolute;
    top: 5vh;
    left: 15vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 10s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #FFF;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

/* Animate Background*/
@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.animated {
    display: flex;
    justify-content: center;
}

.animated span {
    animation: topToBottom 7s infinite 0s;
    -ms-animation: topToBottom 7s infinite 0s;
    -webkit-animation: topToBottom 7s infinite 0s;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    visibility: hidden;
    height: 6%;
}

.animated span:nth-child(2) {
    animation-delay: 1s;
    -ms-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.animated span:nth-child(3) {
    animation-delay: 2s;
    -ms-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.animated span:nth-child(4) {
    animation-delay: 3s;
    -ms-animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.animated span:nth-child(5) {
    animation-delay: 4s;
    -ms-animation-delay: 4s;
    -webkit-animation-delay: 4s;
}

.animated span:nth-child(6) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}

.animated span:nth-child(7) {
    animation-delay: 6s;
    -ms-animation-delay: 6s;
    -webkit-animation-delay: 6s;
}


@keyframes topToBottom {
    0% {
        visibility: hidden;
    }
    14% {
        visibility: hidden;
    }
    28% {
        visibility: hidden;
    }
    42% {
        visibility: hidden;
    }
    57% {
        visibility: hidden;
    }
    71% {
        visibility: hidden;
    }
    85% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.navigation {
    width: 100%;
}

.item {
    padding: 10px 30px;
}

.main {
    color: #c5a91b;
}

.about-title, .project-title, .skill-title, .hobby-title, .contact-title {
    display: inline;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.about-icon, .project-icon, .skill-icon, .hobby-icon, .contact-icon, .loc-icon {
    width: 62px;
    height: 62px;
    margin-top: 1px;
    border: 3px solid #c5a91b;
    border-radius: 31px;
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
}

.about-description {
    margin-top: 2.5rem;
}

.desc-text {
    font-size: 18px;
}

.skill-title {
    margin-bottom: 30px;
}

.project-list {
    margin-top: 2rem;
}

.project-item {
    margin: 10px 0;
    width: 100%;
}

.hobby {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    padding: 20px;
    margin: 20px;
    background-color: rgba(255,255,255,0.2);
}

.contact-title {
    margin-bottom: 3rem;
}

.loc-icon {
    margin-right: 30px;
}

.lang-title, .movie-title, .game-title, .show-title, .music-title {
    margin-bottom: 10px;
}

.lang, .movie, .game, .show, .music, .contact {
    list-style-type: none;
}

.hobby-list {
    flex-direction: column;
}

.project-git {
    position: relative;
    left: 41%;
}

@media screen and (min-width: 450px) {
    .hobby-list {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project-item {
        width: 450px;
    }

    .project-git {
        left: 0;
    }

    .hobby {
        width: 30%;
    }
}